<%- include('partials/header'); %>

<h1>About</h1>
<p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Quas, amet. Distinctio praesentium ipsum numquam, sed porro laborum assumenda, reprehenderit inventore dolor, explicabo omnis! Totam, eveniet rerum unde delectus excepturi minus, vero autem neque perferendis dolor fuga laborum blanditiis quae corporis repellendus? Veniam tenetur accusantium sed maxime incidunt harum unde cum labore nihil voluptatem repudiandae delectus blanditiis fugiat saepe rerum aliquam atque sit neque error dicta, totam laborum? Magnam distinctio aspernatur officia quam magni sequi fugiat minima eos repellat soluta, officiis nesciunt similique eaque illo earum voluptas quas quod, maiores hic quos quisquam. Excepturi placeat aperiam debitis inventore ut eaque natus.</p>

<%- include('partials/footer'); %>