<%- include('partials/header'); %>

<h1>Posts</h1>

<% for( let i = 0; i < posts.length; i++ ) { %>
<article>
    <li>
        <ol>
            <h1><%= posts[i].title %></h1>
            <p><%= posts[i].body %></p>
        </ol>
    </li>
</article>
<% } %>

<%- include('partials/footer'); %>